<div class="chart-container h-100">
    <div class="chart-contacts" [class]="toggleSidebar ? 'hide-chart-contacts' : ''">
        <div class="chart-contacts-header">
            <h5 class="header">Chats</h5>
            <button type="submit" class="btn toogle-sidebar-btn" (click)="toggleSidebar = !toggleSidebar;">
                <i class="fa fa-align-justify"></i>
            </button>
        </div>
        <div class="chart-search-container">
            <div class="chart-search">
                <i class="fa fa-search"></i>
                <input type="text" class="w-100" (input)="searchInputs($event)" placeholder="What are you looking?" />
            </div>
        </div>
        <div class="chart-contacts-list">
            <ul class="perfect-scrollbar">
                <ng-container *ngFor="let user of filteredUserList">
                    <li *ngIf="loggedInUser._id != user._id"
                        [class]="user._id == chatingUser._id ? 'selected-user' : '' " (click)="createChat(user);">
                        <div class="profiles">
                            <img src="../../assets/profile.jpg" alt="profile pic" />
                            <div class="short-message">
                                <span>
                                    {{user.userName}}
                                </span>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="chart-message">
        <div class="selected-chart-header d-flex">
            <button type="submit" class="btn toogle-sidebar-btn" (click)="toggleSidebar = !toggleSidebar;">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="profiles">
                <img src="../../assets/profile.jpg" alt="profile pic" />
                <div class="profile-name">
                    <span>
                        {{loggedInUser?.userName}}
                    </span>
                </div>
            </div>
            <div class="header-icons">
                <i class="fa fa-trash" *ngIf="deleteMessagesIds.length" aria-hidden="true" (click)="deleteSelectedMsg()"></i>
                <i class="fa fa-sign-out" aria-hidden="true" (click)="logout()"></i>
            </div>
        </div>
        <div class="selected-charts perfect-scrollbar">
            <ul class="messages" *ngFor="let msg of messageList">
                <li *ngIf="msg.active" [ngClass]="[msg.sender ==  loggedInUser._id ? 'reciver' : 'sender', msg.selected ? 'selectedMsg' : '']" 
                    (click)="selectMsgForDelete(msg)">
                    <div [ngClass]="msg.sender == loggedInUser._id ? 'pull-right' : 'pull-left' " class="message-content">
                        {{msg.message}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="message-typing">
            <textarea type="text" [(ngModel)]="message" class="text-area form-control perfect-scrollbar"
                placeholder="Type something here..."></textarea>
            <button type="button" class="sending-btn btn btn-primary" (click)="sendMessage()">
                <i class="fa fa-paper-plane"></i>
            </button>
        </div>
    </div>
</div>
